h1 Dashboard
h2 Comments

div(ng-if="$ctrl.comments.length === 0 && $ctrl.error === null") loading...

table(ng-if="$ctrl.comments.length")
  tr
    th postId
    th id
    th name
    th email
  tr(ng-repeat="value in $ctrl.comments track by $index")
    td {{value.postId}}
    td {{value.id}}
    td {{value.name}}
    td {{value.email}}

div
  | Errors
  | {{$ctrl.error}}
